#todoWrap {
  display: flex;
}

.todoSection {
  width: 100%;
  border-right: 1px solid #3333;
  position: relative;
}
h4.todoGroupTitle {
  text-align: right;
  margin: 0;
  color: #171e7fd1;
}
.todoUl {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
}

.todoUl li {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  padding: 10px 60px;
  border-radius: 10px;
  overflow: inherit;
  margin-bottom: 10px;
  margin-left: 50px;
  box-shadow: 3px 3px 6px #222222ab;
}
.activeTodos .todoUl li {
  cursor: pointer;
}

.done label {
  width: 100%;
  height: 100%;
  border: 5px solid #000;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border-radius: 100%;
  box-sizing: border-box;
}

.done input:checked ~ label {
  border: 5px solid #2bc92a;
  background: #2ac92a;
}

.done input:checked {
  opacity: 1;
}

.done input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.done input:checked ~ label img {
  display: block;
}
.done label img {
  position: absolute;
  width: 22px;
  top: 0px;
  left: -1px;
  display: none;
}

.done {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  cursor: pointer;
}
.done label:hover {
  border: 15px solid #2bc92a;
}

/* .drop input:checked ~ label {
  border: 5px solid #2bc92a;
  background: #2ac92a;
}

.drop input:checked {
  opacity: 1;
}

.drop input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.drop input:checked ~ label img {
  display: block;
}
.drop label {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border: 0;
}
.drop {
  width: 27px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
} */
span.priority {
  height: 100%;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px 0 0 10px;
}
.content {
  width: 80%;
  padding: 0 10px;
  box-sizing: border-box;
}
.deadline {
  width: 100%;
  position: relative;
}
.deadline img {
  width: 21px;
  display: inline-block;
  transform: translateY(6px);
}
.deadline p {
  display: inline;
  margin-left: 9px;
  color: #5d5d5d;
  font-size: 15px;
  font-style: italic;
}
.deadline p:nth-of-type(1) {
  font-weight: bold;
}

.topElms {
  text-align: right;
}
.updateDate {
  font-size: 14px;
  color: #939393;
  margin-bottom: 4px;
  display: inline-block;
}
p.drop {
  font-size: 14px;
  color: #f0f0f0;
  margin-bottom: 4px;
  background: #939393;
  margin-left: 10px;
  display: inline-block;
  padding: 2px 9px;
  border-radius: 8px;
  cursor: pointer;
}
p.description {
  white-space: pre-wrap;
}
.welcome {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  cursor: pointer;
}
.welcome img {
  width: 100%;
}
.welcome h1 {
  font-size: 70px;
}
@media only screen and (max-width: 1200px) {
  #todoWrap {
    display: flex;
    flex-wrap: wrap;
  }
}
