/* #createTodo .field textarea {
  border: 0;
  background: #e7e7e7;
  min-height: 90px;
  width: 100%;
  resize: vertical;
}
#createTodo .field {
  padding: 10px 0;
}
#createTodo .field input {
  width: 100%;
}
#createTodo .field label {
  color: #9c9c9c;
} */

.field .priority input[type="radio"] {
  opacity: 0;
  height: 0px;
  position: fixed;
}
.field .priority label {
  background: #000;
  height: 40px;
  width: 25%;
  display: block;
  cursor: pointer;
}

.field .priority {
  display: flex;
}

#createTodo .priority label:nth-of-type(1) {
  background: rgb(94, 94, 94);
  opacity: 0.5;
}
#createTodo .priority label:nth-of-type(2) {
  background: #503cff;
  opacity: 0.5;
}
#createTodo .priority label:nth-of-type(3) {
  background: #ff911b;
  opacity: 0.5;
}
#createTodo .priority label:nth-of-type(4) {
  background: #eb4225;
  opacity: 0.5;
}

#createTodo .priority input[type="radio"]:nth-of-type(1):checked + label {
  opacity: 1;
}
#createTodo .priority input[type="radio"]:nth-of-type(2):checked + label {
  opacity: 1;
}
#createTodo .priority input[type="radio"]:nth-of-type(3):checked + label {
  opacity: 1;
}
#createTodo .priority input[type="radio"]:nth-of-type(4):checked + label {
  opacity: 1;
}

#deleteTodo {
  background: none;
  color: #333;
  margin-left: 20px;
}
