body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background: url("bg.png");
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  padding: 10px;
  background: #3c5ebe;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: inherit;
}
button:hover {
  background: #27418b;
}

input,
textarea {
  font-size: inherit;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  position: relative;
  border-bottom: 2px solid #333;
  text-align: center;
  background: none;
}
input[type="text"]:focus,
input[type="email"]:active,
input[type="password"]:active {
  border-bottom: 4px solid #3c5dbe;
}

.inputWbutton {
  width: 100%;
  display: flex;
}
.inputWbutton input {
  width: 80%;
}
.inputWbutton button {
  width: 20%;
}

.popup {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  max-width: 500px;
  margin: 0 50px;
  width: 100%;
  z-index: 50;
  animation: popup 0.2s ease-in-out;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000e6;
  z-index: 10;
  animation: overlay 0.2s ease;
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.priority0 {
  background: grey;
}
.priority1 {
  background: rgb(46, 68, 141);
}
.priority2 {
  background: rgb(160, 106, 45);
}
.priority3 {
  background: rgb(160, 33, 33);
}
